body {
  display:flex;
  justify-content:center;
  align-content:center;
  background:#faf0e6;
}

svg.demo {
  border:0px solid #444;
  width:80%;
  fill:none;
  min-width:380px;
  background:#faf0e6;
}

.demo path {
  fill:none;
  stroke-width:10px;
  stroke: #191970;
}

