* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, Arial, sans-serif;
  color: black;
  height: 100vh;
  overflow: hidden;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

main {
  position: relative;
  z-index: 10;
  padding: 4rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

nav a {
  color: black;
  margin-right: 2rem;
  text-decoration: none;
  opacity: .8;
}

nav a:hover {
  opacity: 1;
}

