
#faf0e6


body {
  display:flex;
  justify-content:center;
  align-content:center;
  background:black;
}

.container {
  text-align: center;
}

.title {
  margin-bottom: 30px;
}

.box {
  width: 120px;
  height: 120px;
  background: white;
  border-radius: 20px;
  margin: 0 auto 30px;
}

svg.demo {
  border:1px solid #444;
  width:80%;
  min-width:380px;
  background:#faf0e6;
}


.demo path {
  fill:none;
  stroke-width:10px;
  stroke: #191970;
}
